/* *{
    border: 1px solid black;

} */

body{
    width: 100%;
    height: 100%;
}

header{
    background-color: black;
    right: 0;
    top: 0;
    width: 100%;
    height: 20vh;
    z-index: 1;
    color: white;
}

aside{
    position: fixed;
    top: 20vh;
    left: 0;
    width: 15%;
    height: 100vh;
}

section{
    position: absolute;
    top: 20vh;
    right:  0;
    width: 75%;

}


.produit{
    padding: 3%;
}

.produit img{
    min-width: 100%;
}

/* CSS MODAL PANIER */

#img-product img{
    width: 5rem;
    height: 6rem;
}

#delete {
    height: 2rem;
}

#more, #less, #number {
    width: 2rem;
    height: 2rem;
}